
<h1> Articles</h1>


<div>
    <a href="/journalist/new" class="button"> Add a journalist</a>
</div>

<br><br>


<div class="container">
    <table style="width:100%">
        #foreach($journalist in $journalists)
        <tr>
            <th>Name:</th>
            <td>$journalist.getName()</td>
        </tr>
        <tr>
        #end
    </table>
</div>