<div>
    <p> Name: $journalist.getName()</p>
    <p> Date Started: $journalist.getStartDate()</p>
    <p> Years Served: $journalist.getYearsOfService()</p>
</div>

<a href="/journalists/$journalist.getId()/edit">Edit</a>

<form action="/journalists/$journalist.getId()/delete" method="post">
    <input type="submit" value="Delete">

</form>

<a href="/journalists">Back to list</a>