<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--<property name="hibernate.connection.username"></property>-->
        <!--<property name="hibernate.connection.password"></property>-->
        <property name="hibernate.connection.url">
            jdbc:postgresql://ec2-54-221-225-11.compute-1.amazonaws.com/d7fo9n67s7it37?user=zjyhdxwsdakypj&amp;password=cb37b3bc85e8c7c0c929792d0735de4c805fae78dc0072f83f490e1eb4a54695
        </property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>

        <mapping class = "models.Staff"/>
        <mapping class = "models.Article"/>
        <mapping class = "models.Category"/>
        <mapping class = "models.Editor"/>
        <mapping class = "models.Journalist"/>


    </session-factory>
</hibernate-configuration>