body {

background-color: white; }

h1 {
color: blue;
position: center;
}

.searchbar {

}



.flex-container {
  flex-direction: column;
  display: flex;
  min-width: 200px;
  width: 16%;
  background-color: DodgerBlue;

}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 4px;
  padding: 12px;
  font-size: 17px;
  }


  table {
    float: left;
  }

  .content-container {
    display :flex;
  }