<!DOCTYPE html>
<head>
    <title> TechNews Management</title>

        <div class="navbar">
            <div><a href="/" class="button-nav"> Home</a> </div>
            <div><a href="/contact" class="button-nav"> Contact</a></div>
        </div>

    <link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web" rel="stylesheet">

    <link href="/style.css" rel="stylesheet">

</head>
<body>
<div class="container">
    #parse($template)
</div>
</body>
</html>