

    <title> TechNews Management</title>
<h1 align="center"> TechNews Management</h1>

        <div class="button-container">
        <center>
        <a href="/articles" class="button">Manage Articles</a>
        <a href="/journalists" class="button">Manage Journalists</a>
        </center>
        </div>