
<div class="topbar-container">
    <title> technews Management</title>
<h1 align="center"> TECHNEWS MANAGEMENT</h1>
</div>

        <div class="button-container">
        <center>
        <a href="/articles" class="button-create">Manage Articles</a>
        <a href="/journalists" class="button-create">Manage Journalists</a>
        </center>
        </div>